:root{
    --cor-fundo: #FF1493 ;
    --cor-principal: #FF69B4 ;
    --cor-secundaria: #DB7093; 
    --cor-destaque: #FFB6C1;
    --cor-texto: #FFC0CB;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
